@font-face {
	font-family: "Poltab";
	font-weight: 400;
	src: url("/fonts/poltab-regular.ttf") format("truetype");
}

@font-face {
	font-family: "Poltab";
	font-weight: 500;
	src: url("/fonts/poltab-medium.ttf") format("truetype");
}

@font-face {
	font-family: "Poltab";
	font-weight: 700;
	src: url("/fonts/poltab-bold.ttf") format("truetype");
}
