.form-field {
	$field: &;
	@apply mt-6;

	&__group--inline {
		#{$field} {
			@apply flex flex-wrap items-center gap-x-5;

			&--list {
				@apply items-start;
			}

			> label,
			> #{$field}__label label {
				@apply m-0;
			}

			> #{$field}__label {
				@apply w-1/2 justify-start;
			}
		}

		#{$field}--wide {
			@apply flex flex-wrap gap-x-5;
			.units {
				#{$field}__label {
					@apply w-1/3;
				}
			}
			> :first-child {
				flex-basis: 32rem;
			}
		}
	}
	&--disabled {
		@apply opacity-50;
		:disabled,
		button {
			@apply cursor-not-allowed;
		}
		.form-input:hover {
			border-color: rgb(53 53 53 / var(--tw-border-opacity));
		}
	}
}
